NEXT_PUBLIC_SUPABASE_URL=https://xigciipjwwzaqucjecvt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
NEXT_PUBLIC_ROOT_DOMAIN=aimusicrebels.com
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=AI Music Rebels <noreply@vtk-song-studio.com>
CRON_SECRET=
